<form method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-5" style="text-align: center;">
            Upload Image
        </legend>
        {{upload_form.as_p}}
    </fieldset>

    <hr>

    <div class="row justify-content-end">
        <div class="form-group">
            <a href='#' class="btn btn-danger" style="border-radius: 10px; margin-left: 10px; margin-right: 10px;">Cancel</a>

            <button type="submit" class="btn btn-success" style="border-radius: 10px; margin-left: 10px; margin-right: 10px;">
                upload
            </button>
        </div>



    </div>

</form>
